h1{
    color: red;
    background-color: rgba(255,0,0,0.25);
}
h2{
    color: #ffa500;
    background-color: rgba(255,165,0,0.25);
}
h3{
    color: rgb(255,255,0);
    background-color: rgba(255,255,0,0.25);
}
h4{
    color: rgba(0, 200,0,1);
    background-color: rgba(0,200,0,0.25);
}
h5{
    color: rgb(50, 125, 200);
    background-color: rgba(50,125,200, 0.25);
}
h6{
    color: indigo;
    background-color: rgba(75, 0,130,0.25);
}
p{
    color: rgb(150,50,200);
    background-color: rgba(150,50,200,0.25);
}
li:nth-child(1){
    color:hotpink;
}
li:nth-child(3){
    color:peachpuff;
}
li:nth-child(1),li:nth-child(3){
    border-style: solid;
    border-color: rgb(50,200,100);
    border-width: 5px;
    
}